<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include layout/head %>

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <center>
            <h4>Staff Login Page</h4>
            <% if(err){ %>
              <span style="color:red">username dan password tidak dikenal</span>
            <%}%>
          <table class="table">
            <tr>
              <td align="center">
                <form class="form-inline" action="/staff/login" method="post">
                  <label for="username">Username</label><br>
                  <input type="text" name="username" class="form-control" width=100%;><br>
                  <label for="username">Password</label><br>
                  <input type="password" name="password" class="form-control"><br><br>
                  <button  type="submit" name="button" class="btn btn-info">Log in</button>
                </form><br>
                <!-- <span style="color:grey">signup <a href="/signup">here</a></span> -->
              </td>
            </tr>
          </table>
          </center>

        </div>
      </div>
    </div>
    <%- include layout/footer%>

  </body>
</html>
